<div class="row footer bg-light">
    <div class="col">
      <p class="text-center" style="font-size:30px">Contact Us: 
        <a href="https://github.com/woxdak"><i class="fa fa-github" style="font-size:36px;color:gray"></i></a> 
        <a href="#"><i class="fa fa-linkedin-square" style="font-size:36px;color:gray"></i></a>
        <a href="#"><i class="fa fa-twitter" style="font-size:36px;color:gray"></i></a>
        <a href="#"><i class="fa fa-google" style="font-size:36px;color:gray"></i></a>
      </p>
    </div>
  </div>
