
  <div class="row bg-light" id="AboutUs">
    <div class="col-md-6 text-center">
      <h3>About Us</h3>
      <p>We solve waiting problems during COVID pandemic. Our solution is giving
        an app to make appointment in groceries store martket.
        We help you get into and out of stores quickly and reduce exposure
         to people with WindowShopping. WindowShopping will reduce wait times 
         and lines outside stores. If you're tired of waiting in line to go 
         into the grocery store, you can easily book an appointment with us. 
          Our main mission is to reduce wait times and extra unnecessary exposure 
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="../assets/images/location.jpg">
    </div>
  </div>
  <div class="row bg-light"><br></div>
  <div class="row bg-light">
    <div class="col-md-6 order-md-1 order-2">
      <img class="img-fluid " src="../assets/images/umsl.png">
    </div>
    <div class="col-md-6 order-md-12 order-1">
      <h3>Our Team</h3>
      <p>Team lead: Pamela Williams </p>
      <p>Mentor: Nicole Gaehle</p>
      <p>Web app: Warren Truong</p>
      <p>Web app: Sibgha Mirza</p>
      <p>Web assistant: Cynthia Whitley</p>
    </div>
  </div>
<hr>